<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css"
    />
    <title>Kolja Sam | {{ title }}</title>
  </head>
  <body>
    <main class="container py-6">
      <div class="content block">
        {{ content | safe }}
      </div>
    </main>
  </body>
</html>
