---
layout: layouts/base.njk
---

<article class="mx-auto max-w-3xl border rounded rounded-2xl p-4">
  <div class="text-sm text-slate-400 mb-1">
    {{ date | formatDate }}
  </div>
  <h1 class="text-4xl font-bold text-slate-900 mb-4">
    {{ title }}
  </h1>

  <div
    class="prose prose-slate max-w-none prose-img:max-w-full prose-img:h-auto prose-li:break-inside-avoid prose-p:break-inside-avoid prose-img:break-inside-avoid prose-img:max-w-sm prose-h1:break-after-avoid prose-h2:break-after-avoid prose-h3:break-after-avoid"
  >
    <div class="">
      {{ content | safe }}
    </div>
  </div>
</article>
